:root {
    --primary-color:#FFFFFF;
    --secondary-color:#A259FF;
    --font-primary: 'Work Sans', sans-serif;
    --font-secondary: 'Space Mono', monospace;
}

body {
    background-color: #2b2b2b;
    color:var(--primary-color); 
    margin:0;
    font-family: var(--font-primary)

}
/*small tags*/

.d-flex{
    display:flex;
}
.j-center {
    justify-content: center;
}
.a-center {
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

.all-caps {
  text-transform: capitalize;
}
.direction-column{
    flex-direction: column;
}
.capitalize-word {
    text-transform: uppercase;
}


/*header*/

header {
    padding: 20px 50px;
}

.logo {
    width: 243.41px;
    height: 32px;
}
.sign-up {
        background-color: var(--secondary-color);
        padding:19px 30px;
        border-radius: 20px;
        gap:12px;
        width: fit-content;
        height: 60px;
        justify-content: center;
        align-items: center;
        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: var(--primary-color);
            font-family: var(--font-primary);
            width: fit-content;
            height: 22px;
        }

    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap:10px;
    & li {
        padding:12px 20px;
        font-weight: 600;
        size: 16px;

    }
        & a {
            text-decoration: none;
            color: var(--primary-color);
        }
    
}

/* introduction */

.introduction {
    padding: 80px 0px;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.introduction-wrapper {
    width: 1050px;
    gap: 30px;
    align-items: flex-start;
}

.content-wrapper{
    gap: 30px;
    width: 510px;
    height: 544px;
    flex: 1;
}

.text-wrapper{
    gap:20px;
    & h1{
       font-size:67px;
       font-weight: 600;
       line-height: 110%;
       margin:0;
       text-transform: capitalize;

    }
    & p {
        margin: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
    }
}
& .rocket {
        background-color: var(--secondary-color);
        padding:20px 50px;
        border-radius: 20px;
        gap:12px;
        height: 60px;
        width: fit-content;
        justify-content: center;
        align-items: center;
        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: var(--primary-color);
            font-family:var(--font-primary);
            
        }
    }    

.gif-wrapper {
    width: fit-content;
    height: 510px;
    flex:1;
}
.numbers-wrapper{
    gap:30px
}

.numbers {
    & a {
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        font-family: var(--font-secondary);
    }
    & span {
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
    }
}

/* trending collection*/

.trending-collection{
    padding: 80px 0px;
    gap: 60px;
    align-items: center;
    width: 100%;

}
.trending-text{
    gap: 10px;
    text-align: left;
    margin: 0 auto; 
    align-items: flex-start;
    width: 1050px; 
    & h3{
        font-size: 38px;
        font-weight: 600;
        line-height: 120%;
        margin:0;
    }
    & p {
        font-size: 24px;
        font-weight: 400;
        line-height: 160%;
        margin:0;
    }
}
.card-wrapper {
    width: 1050px;
    gap: 30px;
    margin: 0 auto;
}

.card-1, .card-2, .card-3{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.foto-wrapper{
    gap:15px;
    & .main-foto{
        & img {
            width: 330px;
            height: 330px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    & .sub-fotos {
        gap: 15px;
        & img, .number-box{
        border-radius: 20px;
        width: 100px;
        height: 100px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        }
        & .number-box{
            background-color: var(--secondary-color);
            justify-content: center;
            align-items: center;
            & h5 {
                font-family: var(--font-secondary);
                font-size: 22px;
                font-weight:700 ;
                line-height: 160%;
                margin: 0;
            }
        }
    }
}

.caption {
    font-size: 22px;
    font-weight:600 ;
    line-height: 140%;
    margin-bottom: 10px;
}
.avatar {
    gap:12px;
    & .avatar-icon {
        width: 24px;
        height: 24px;
        border-radius: 100px;
    }
    & .name {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }
}